<link rel="stylesheet" href="@App.Path/dist/app/view.css" data-enableoptimizations="true" />

<div class="ga-wrapper">
    <div class="ga-list ga-list-albums">
        @foreach (var album in AsDynamic(Data["Default"]))
        {
            <div class="ga-album sc-element">
                @album.Toolbar
                <a href='@Link.To(parameters: "mid=" + Dnn.Module.ModuleID + "&album=" + album.Path)' oldhref="@Dnn.Tab.FullUrl/mid/@Dnn.Module.ModuleID/album/@album.Path">
                    @if (!String.IsNullOrEmpty(album.AlbumThumbnail))
                    {
                        <div class="ga-album-preview">
                            <span class="ga-album-hover"><i class="glyphicon glyphicon-picture"></i></span>
                            <img src="@album.AlbumThumbnail?w=@App.Settings.AlbumThumbnailWidth&h=@App.Settings.AlbumThumbnailHeight&mode=crop" alt="@album.Title" />
                        </div>
                    }
                    <h3>@album.Title <span class="badge">@AsAdam(album, "Images").Files.Count</span></h3>
                </a>
            </div>
        }
    </div>
</div>