<link rel="stylesheet" href="@App.Path/dist/app/view.css" data-enableoptimizations="true" />

<div class="ga-wrapper">
    <div class="ga-list ga-list-albums">
        @foreach (var e in List)
        {
            var Content = e.Content;
            <div class="ga-album sc-element">
                @Content.Toolbar
                <a href="@Dnn.Tab.FullUrl/mid/@Dnn.Module.ModuleID/album/@Content.Path">
                    @if (!String.IsNullOrEmpty(Content.AlbumThumbnail))
                    {
                        <div class="ga-album-preview">
                            <span class="ga-album-hover"><i class="glyphicon glyphicon-picture"></i></span>
                            <img src="@Content.AlbumThumbnail?w=@App.Settings.AlbumThumbnailWidth&h=@App.Settings.AlbumThumbnailHeight&mode=crop" alt="@Content.Title" />
                        </div>
                    }
                    <h3>@Content.Title <span class="badge">@AsAdam(Content, "Images").Files.Count</span></h3>
                </a>
            </div>
        }
    </div>
</div>