
@* 
	Just an information: this requires 2sxc 8.2.3 minimum, otherwise it won't compile
*@

<div class="ap-blueimp-gallery-wrapper">
    <div class="ap-blueimp-gallery">
        @foreach (var pic in AsAdam(Content, "Images").Files)
        {
            <div class="sc-element">
                @* The following code block will either offer to edit existing metadata,
                    or create an "add-metadata" toolbar prefilled with this files ID *@
                @if (Permissions.UserMayEditContent)
                {
                    <ul class="sc-menu" data-toolbar='{ "action": "metadata", "entityId": @pic.Metadata.EntityId,
                            "contentType":"Image Metadata", "metadata":{"key":"file:@pic.FileId"}}'></ul>
                }
                <a href="@pic.Url?w=1200&h=990&mode=max" title="@(((dynamic)pic.Metadata).Title)" data-gallery="#blueimp-gallery-@Dnn.Module.ModuleID">
                    <img src="@pic.Url?w=278&h=208&mode=crop" alt="@pic.Metadata.Title" />
                    @if (Content.Presentation.ShowTitleInOverview && pic.HasMetadata)
                    {
                        <span>@pic.Metadata.Title</span>
                    }
                </a>
            </div>
        }
    </div>
</div>
