<link rel="stylesheet" href="@App.Path/dist/lib/blueimp/css/blueimp-gallery.min.css" data-enableoptimizations="true" />
<script type="text/javascript" src="@App.Path/dist/lib/blueimp/js/blueimp-gallery.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" href="@App.Path/dist/app/view.css" data-enableoptimizations="true" />

<div class="sc-element">
    <h2>@Content.Title @Content.Toolbar</h2>
    @Html.Raw(Content.Introduction)
</div>

<span id="blueimp-gallery-items-@Dnn.Module.ModuleID" style="display: none">
    <div class="ap-blueimp-gallery-wrapper">
        <div class="ap-blueimp-gallery">
            @foreach (var pic in AsAdam(Content, "Images").Files)
            {
                <div class="sc-element">
                    @* The following code block will either offer to edit existing metadata,
                        or create an "add-metadata" toolbar prefilled with this files ID *@
                    @if (Permissions.UserMayEditContent)
                    {
                        <ul class="sc-menu" data-toolbar='{ "action": "metadata", "entityId": @pic.Metadata.EntityId,
                                "contentType":"Image Metadata", "metadata":{"key":"file:@pic.FileId"}}'></ul>
                    }
                    <a href="@pic.Url?w=@App.Settings.LightboxImageWidth&h=@App.Settings.LightboxImageHeight&mode=max" title="@(((dynamic)pic.Metadata).Title)" data-gallery="#blueimp-gallery-@Dnn.Module.ModuleID">
                        <img src="@pic.Url?w=@App.Settings.CarouselImageWidth&h=@App.Settings.CarouselImageHeight&mode=crop" alt="@pic.Metadata.Title" />
                        @if (Presentation.ShowImageTitle && pic.HasMetadata)
                        {
                            <span>@pic.Metadata.Title</span>
                        }
                    </a>
                </div>
            }
        </div>
    </div>
</span>

@* this is the rotator element *@
<div id='blueimp-gallery-@Dnn.Module.ModuleID' class='blueimp-gallery blueimp-gallery-carousel' data-continuous='false'>
    <div class='slides'></div>
    <h3 class='title'></h3>
    <a class='prev'>‹</a>
    <a class='next'>›</a>
    <a class='play-pause'></a>
    <ol class='indicator'></ol>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // initialize the carousel gallery
        blueimp.Gallery($('[data-gallery="#blueimp-gallery-@Dnn.Module.ModuleID"]'), {
                container: '#blueimp-gallery-@Dnn.Module.ModuleID',
                carousel: true
            }
        );
    });
</script>

