<link rel="stylesheet" href="@App.Path/lib/blueimp-gallery/css/blueimp-gallery.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/css/view.css" data-enableoptimizations="true" />
<script type="text/javascript" src="@App.Path/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" data-enableoptimizations="true"></script>

<div class="sc-element">
    <h2>@Content.Title @Content.Toolbar</h2>
    @Html.Raw(Content.Introduction)
</div>
<div class="ap-blueimp-gallery-wrapper">
    <div class="ap-blueimp-gallery">
        @foreach(var pic in AsAdam(Content, "Images").Files)
        {
            <div class="sc-element">
                    @* The following code block will either offer to edit existing metadata, or create an "add-metadata" toolbar prefilled with this files ID
                    <ul class="sc-menu" data-toolbar='{ "action": "metadata", 
                    "items":[{"entityId": @pic.Metadata.EntityId, "contentType":"Image Metadata",
                        "metadata":{"key":"file:@pic.FileId"}
                    }]}'></ul>                    *@
                    @if(Environment.Permissions.UserMayEditContent) 
                    {
                    <ul class="sc-menu" data-toolbar='{ "action": "metadata", "entityId": @pic.Metadata.EntityId, "contentType":"Image Metadata", "metadata":{"key":"file:@pic.FileId"}
                    }'></ul>
                    }
                <a href="@pic.Url?w=@Content.Presentation.LightboxImageWidth&h=@Content.Presentation.LightboxImageHeight&mode=@Content.Presentation.LightboxResizeMode" title="@pic.Metadata.Title" data-gallery="#blueimp-gallery-@Dnn.Module.ModuleID">
                    <img src="@pic.Url?w=@Content.Presentation.ThumbnailImageWidth&h=@Content.Presentation.ThumbnailImageHeight&mode=@Content.Presentation.ThumbnailResizeMode" alt="@pic.Metadata.Title" />
                    @if (Content.Presentation.ShowTitleInOverview && pic.HasMetadata)
                    {
                        <span>@pic.Metadata.Title</span>
                    }
                </a>
            </div>
        }
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        // Because we can't add the HTML for blueimp gallery directly to the body element, we add it with JS
        $("body").append("<!-- The Gallery as lightbox dialog, should be a child element of the document body -->" +
            "<div id='blueimp-gallery-@Dnn.Module.ModuleID' class='blueimp-gallery blueimp-gallery-controls ap-blueimp-gallery-lightbox' data-continuous='false'>" +
            "<div class='slides'></div>" +
            "<h3 class='title'></h3>" +
            "<a class='prev'>‹</a>" +
            "<a class='next'>›</a>" +
            "<a class='close'>×</a>" +
            "<a class='play-pause'></a>" +
            "<ol class='indicator'></ol>" +
            "</div>");

    });
</script>

